include ../mixin/mixin

- var data_page = data.page_InfoForm

doctype html
html(lang='vi')
    head
        +head_setting(data_page)
    body
        include ../layout/general/header
        |
        |
        .wrapMain
            include ../layout/information-form/InformationForm
        |
        |
        include ../layout/general/footer
        |
        |