// main
section.container-fluid
    .container-wrap.questionWrap
        .questionMainWrap
            .questionMain
                .questionHeading Phần thi trắc nghiệm
                .questionMainItem.questionMainItem1.active(data-question= "1") 
                    .questionContent
                    ul.answerList 
                        li.answerItem.answerItem1.answerItem--1(data-answer= '1') 
                            h4.optAnswer A
                            h4.answerContent
                        li.answerItem.answerItem2.answerItem--1(data-answer= '2')
                            h4.optAnswer B
                            h4.answerContent
                        li.answerItem.answerItem3.answerItem--1(data-answer= '3') 
                            h4.optAnswer C
                            h4.answerContent
                        li.answerItem.answerItem4.answerItem--1(data-answer= '4') 
                            h4.optAnswer D
                            h4.answerContent
            .questionNavigation 
                div.questionBtn.button.buttonSecondary.questionBtnPrev
                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512')
                        path(d='M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z')
                    | Câu trước
                div.questionBtn.button.buttonSecondary.questionBtnNext
                    | Câu Sau
                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512')
                        path(d='M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z')
            .questionFooter 
                .progress
                    .progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100' style='width: 70%') 70%
        .questionSubWrap 
            .questionHeading Danh sách câu trả lời
            .questionCountdown
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                    path(d='M256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C201.7 512 151.2 495 109.7 466.1C95.2 455.1 91.64 436 101.8 421.5C111.9 407 131.8 403.5 146.3 413.6C177.4 435.3 215.2 448 256 448C362 448 448 362 448 256C448 149.1 362 64 256 64C202.1 64 155 85.46 120.2 120.2L151 151C166.1 166.1 155.4 192 134.1 192H24C10.75 192 0 181.3 0 168V57.94C0 36.56 25.85 25.85 40.97 40.97L74.98 74.98C121.3 28.69 185.3 0 255.1 0L256 0zM256 128C269.3 128 280 138.7 280 152V246.1L344.1 311C354.3 320.4 354.3 335.6 344.1 344.1C335.6 354.3 320.4 354.3 311 344.1L239 272.1C234.5 268.5 232 262.4 232 256V152C232 138.7 242.7 128 256 128V128z')
                .textNumberCount#coundown 03 : 00
            .questionListWrap 
                ul.questionList
                    li.questionItem.active(data-question= "1") 
                        .titleItemQuestion 1
                        .textValSelected.textValSelected--1(data-answer= '1')  A
                        .textValSelected.textValSelected--1(data-answer= '2')  B 
                        .textValSelected.textValSelected--1(data-answer= '3')  C 
                        .textValSelected.textValSelected--1(data-answer= '4')  D
                    li.questionItem(data-question= "2")  
                        .titleItemQuestion 2
                        .textValSelected.textValSelected--2(data-answer2= '1') A
                        .textValSelected.textValSelected--2(data-answer2= '2') B 
                        .textValSelected.textValSelected--2(data-answer2= '3') C 
                        .textValSelected.textValSelected--2(data-answer2= '4') D
                    li.questionItem(data-question= "3") 
                        .titleItemQuestion 3
                        .textValSelected(data-answer3= '1') A
                        .textValSelected.active(data-answer3= '1') B 
                        .textValSelected(data-answer2= '1') C 
                        .textValSelected(data-answer3= '1') D
                    li.questionItem(data-question= "4") 
                        .titleItemQuestion 4
                        .textValSelected A
                        .textValSelected.active B 
                        .textValSelected C 
                        .textValSelected D
                    li.questionItem(data-question= "5") 
                        .titleItemQuestion 5
                        .textValSelected A
                        .textValSelected B 
                        .textValSelected.active C 
                        .textValSelected D
                ul.questionList
                    li.questionItem(data-question= "6") 
                        .titleItemQuestion 6
                        .textValSelected A
                        .textValSelected B 
                        .textValSelected.active C 
                        .textValSelected D
                    li.questionItem(data-question= "7") 
                        .titleItemQuestion 7
                        .textValSelected.active A
                        .textValSelected B 
                        .textValSelected C 
                        .textValSelected D
                    li.questionItem(data-question= "8") 
                        .titleItemQuestion 8
                        .textValSelected A
                        .textValSelected B 
                        .textValSelected C 
                        .textValSelected.active D
                    li.questionItem(data-question= "9") 
                        .titleItemQuestion 9
                        .textValSelected A
                        .textValSelected.active B 
                        .textValSelected C 
                        .textValSelected D
                    li.questionItem(data-question= "10") 
                        .titleItemQuestion 10
                        .textValSelected A
                        .textValSelected B 
                        .textValSelected C 
                        .textValSelected D
            .questionBtnWrap
                button.questionBtn.button.buttonSecondary Dự đoán
                button.questionBtn.button.buttonPrimary1#btnSubmit Nộp bài
script. 
    const questionList = {
        1: {
            id: 1,
            title: "Câu 1: Theo quy định tại Luật Di sản văn hóa, tổ chức, cá nhân có quyền nào dưới đây đối với di sản văn hóa?",
            A: 'Sở hữu di sản văn hóa',
            B: 'Sở hữu di sản văn hóa',
            C: 'Sở hữu di sản văn hóa',
            D: 'Sở hữu di sản văn hóa',
        },
        2: {
            id: 2,
            title: "Câu 2: Di sản văn hóa vật thể và phi vật thể hay còn được gọi là?",
            A: 'Di sản văn hóa vật chất và tinh thần.',
            B: 'Di sản văn hóa vô hình và hữu hình.',
            C: 'Di sản văn hóa trừu tượng và phi trừu tượng.',
            D: 'Di sản văn hóa đếm được và không đếm được.',
        },
        3: {
            id: 3,
            title: "Câu 3: Những sản phẩm tinh thần có giá trị về lịch sử, văn hoá, khoa học được lưu giữ bằng trí nhớ, chữ viết, truyền miệng, truyền nghề, trình diễn và các hình thức lưu giữ, lưu truyền khác được gọi là ?",
            A: 'Di sản.',
            B: 'Di sản văn hóa.',
            C: 'Di sản văn hóa vật thể.',
            D: 'Di sản văn hóa phi vật thể.',
        },
        4: {
            id: 4,
            title: "Câu 4: Di sản văn hóa vật thể bao gồm?",
            A: 'Di tích lịch sử - văn hóa và tài nguyên thiên nhiên.',
            B: 'Danh lam thắng cảnh và tài nguyên thiên nhiên.',
            C: 'Tài nguyên thiên nhiên và môi trường.',
            D: 'Di tích lịch sử - văn hóa và danh lam thắng cảnh.',
        },
        5: {
            id: 5,
            title: "Câu 5: Tính đến năm 2019, Việt Nam có bao nhiêu di sản văn hóa được UNESCO công nhận?",
            A: '13',
            B: '14',
            C: '15',
            D: '16',
        },
        6: {
            id: 6,
            title: "Câu 6: Di sản tư liệu của Việt Nam được công nhận di sản tư liệu thế giới là?",
            A: 'Mộc bản triều Nguyễn.',
            B: 'Châu bản triều Nguyễn.',
            C: 'Mộc bản kinh phật chùa Vĩnh Nghiêm.',
            D: 'Cả A,B,C.',
        },
        7: {
            id: 7,
            title: "Câu 7: Nếu phát hiện trong vườn nhà có vật cổ không rõ nguồn gốc từ đâu bạn sẽ làm gì?",
            A: 'Báo cho chính quyền địa phương.',
            B: 'Mang đi bán.',
            C: 'Lờ đi coi như không biết.',
            D: 'Giấu không cho ai biết.',
        },
        8: {
            id: 8,
            title: "Câu 8: Những sản phẩm tinh thần vật chất có giá trị lịch sử, văn hóa, khoa học, được lưu truyền từ thế hệ này sang thế hệ khác được gọi là",
            A: 'di sản văn hóa',
            B: 'thành tựu văn hóa',
            C: 'truyền thống văn hóa',
            D: 'giá trị văn hóa',
        },
        9: {
            id: 9,
            title: "Câu 9: Các di sản văn hóa phi vật thể được UNESCO công nhận của Việt Nam",
            A: 'Nhã nhạc cung đình Huế',
            B: 'Dân ca quan họ',
            C: 'Ca trù',
            D: 'Tất cả đáp án đúng',
        },
        10: {
            id: 10,
            title: "Câu 10: Phạm tội chiếm giữ tài sản có giá trị từ 200 triệu đồng trở lên hoặc cổ vật, vật có giá trị lịch sử, văn hoá có giá trị đặc biệt, thì bị phạt tù từ",
            A: 'Một đến năm năm',
            B: 'Hai đến bốn năm',
            C: 'Một đến ba năm',
            D: 'Một đến bốn năm',
        },
    }
// end main