// variables
@import "../abstracts/variables";
// end variables

// mixins
@import "../abstracts/mixins";
// end mixins

// modal
@import "../components/modal";
// end modal

.questionWrap {
  display: flex;
  gap: 40px;
  background-color: $color9;
  padding: 40px;
  width: calc(100% - 40px);
  border-radius: 12px;
  .questionMainWrap {
    position: relative;
    flex: 3;
    background-color: $color1;
    padding: 30px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    .questionMain {
      height: calc(100vh - 500px);
      overflow-y: auto;
      .questionHeading {
        position: absolute;
        top: -25px;
        background-color: $color3;
        color: $color1;
        padding: 8px 20px;
        border-radius: 12px;
        font-weight: 600;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        user-select: none;
        text-transform: capitalize;
      }
      .questionContent {
        @include text18;
        font-weight: 600;
        padding: 8px 20px;
        background-color: $color5;
        border-radius: 12px;
        user-select: none;
      }
      .answerList {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .answerItem {
          display: flex;
          align-items: center;
          gap: 20px;
          cursor: pointer;
          user-select: none;
          &:hover {
            .optAnswer,
            .answerContent {
              // background-color: rgba(29, 78, 216, 0.1);
              background-color: rgba(116, 21, 32, 0.1);
            }
          }
          .optAnswer {
            @include text18;
            width: 40px;
            height: 40px;
            border-radius: 100rem;
            background-color: $color9;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s linear;
            pointer-events: none;
            flex-shrink: 0;
          }
          .answerContent {
            @include text18;
            width: 100%;
            padding: 8px 20px;
            border-radius: 12px;
            background-color: $color9;
            pointer-events: none;
            transition: all 0.2s linear;
          }
          &.answerItemActive {
            .optAnswer,
            .answerContent {
              background-color: $color3 !important;
              color: $color1 !important;
            }
          }
        }
      }
    }
    .questionNavigation {
      display: flex;
      gap: 0 12px;
      justify-content: space-between;
      .questionBtn {
        gap: 0 12px;
        border-radius: 8px;
        width: 130px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        font-weight: 500;
        text-transform: capitalize;
        background-color: $color3;
        color: $color1;
        transition: all 0.2s linear;
        @include text16;
        svg {
          height: 14px;
          fill: $color1;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .questionFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      flex-direction: column;
      gap: 20px;
      .progress {
        width: 100%;
        position: absolute;
        bottom: 0;
        .progress-bar {
          background-color: $color3;
        }
      }
    }
  }
  .questionSubWrap {
    flex: 1;
    background-color: $color1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
    padding: 30px;
    position: relative;
    .questionHeading {
      position: absolute;
      padding: 8px 20px;
      background-color: $color3;
      color: $color1;
      font-weight: 600;
      text-transform: capitalize;
      border-radius: 12px;
      top: -25px;
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    }
    .questionListWrap {
      display: flex;
      justify-content: space-between;
      .questionList {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .questionItem {
          display: flex;
          cursor: pointer;
          border-radius: 8px;
          overflow: hidden;
          border: 1px solid $color8;
          .textValSelected,
          .titleItemQuestion {
            border-right: 1px solid $color8;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
          }
          .titleItemQuestion {
            font-weight: 600;
          }
          .textValSelected {
            border-left: 0;
            &.active {
              background-color: $color3;
              font-weight: 600;
              color: $color1;
            }
            &:last-child {
              border-right: none;
            }
          }
          &:hover {
            background-color: $color9;
          }
          &.active {
            background-color: #dddd;
          }
        }
      }
    }
    .questionCountdown {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      svg {
        display: none;
      }
      .textNumberCount {
        @include text48;
        font-weight: 600;
        color: $color3;
      }
    }
    .questionBtnWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-top: 40px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      bottom: 70px;
    }
  }
}

/* Mobile & tablet: width <1024px */
@media only screen and (max-width: 1023px) {
  .wrapMain {
    height: auto;
    overflow-y: auto;
  }
  .questionWrap {
    flex-direction: column;
    .questionMainWrap {
      .questionMain {
        height: auto;
        .questionHeading {
          @include text14;
          top: -14px;
        }
        .questionContent {
          @include text14;
          margin-top: 20px;
        }
        .answerList {
          .answerItem {
            .optAnswer,
            .answerContent {
              @include text14;
            }
          }
        }
      }
      .questionNavigation {
        .questionBtn {
          @include text14;
          gap: 0 4px;
          width: 110px;
        }
      }
    }
    .questionSubWrap {
      .questionHeading{
        @include text14;
      }
      .questionCountdown {
        margin-top: 0;
        position: fixed;
        bottom: 60px;
        right: 8px;
        padding: 8px 20px;
        background-color: $color6;
        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        z-index: 10;
        display: flex;
        align-items: center;
        gap: 4px;
        svg {
          display: block;
          fill: $color1;
          height: 20px;
        }
        .textNumberCount {
          @include text24;
          color: $color1;
        }
      }
      .questionBtn {
        @include text14;
      }
      .questionBtnWrap {
        position: static;
        transform: translateX(0);
      }
    }
  }
}

/* Mobie: width < 740px */
@media only screen and (max-width: 739px) {
  .questionWrap {
    padding: 0;
    background-color: $color1;
    gap: 40px;
    margin-block: 25px;
    width: 100%;
    .questionMainWrap {
      padding: 15px;
      .questionNavigation {
        margin-top: 15px;
      }
      .questionFooter {
        margin-top: 30px;
      }
    }
    .questionSubWrap {
      padding: 15px;
      .questionHeading {
        @include text14;
      }
      .questionListWrap {
        justify-content: center;
        gap: 30px;
        margin-top: 15px;
        .questionList {
          .questionItem {
            .titleItemQuestion,
            .textValSelected {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
      .questionBtnWrap {
        margin-top: 30px;
      }
      .questionCountdown {
        padding-inline: 8px;
        .textNumberCount {
          @include text16;
        }
        svg {
          height: 16px;
        }
      }
    }
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .questionWrap {
    padding: 30px 20px 20px;
    gap: 45px;
    margin-block: 20px;
    .questionMainWrap {
      padding: 20px;
      .questionNavigation {
        margin-top: 20px;
      }
    }
    .questionSubWrap {
      padding: 20px;
      .questionListWrap {
        justify-content: center;
        gap: 0 40px;
      }
    }
  }
}

/* PC Low */
@media (min-width: 1024px) and (max-width: 1239px) {
  .questionWrap {
    .questionMainWrap {
      .questionMain {
        height: auto;
      }
    }
    .questionSubWrap {
      .questionListWrap {
        gap: 0 20px;
      }
    }
  }
}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) {
  .questionWrap {
    .questionSubWrap {
      .questionListWrap {
        gap: 0 20px;
      }
    }
  }
}
