// variables
@import "../abstracts/variables";
// end variables

// mixins
@import "../abstracts/mixins";
// end mixins
.inforFormWrapper {
  height: calc(100vh - 120px - 40px);
  display: flex;
  align-items: center;
  position: relative;
  position: relative;
  .inforFormWrapperImages {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    filter: blur(5px);
  }
  .inforFormImages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .inforFormContent {
    width: 1000px;
    background-color: #fff;
    z-index: 3;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .inforFormTitle {
      text-transform: uppercase;
      @include text30;
      color: $color3;
      font-weight: 600;
      margin-bottom: 0;
    }
    .formInfo {
      margin-top: 20px;
      .formItemWrap {
        display: flex;
        gap: 0 12px;
      }
      .formItem {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;
        flex: 1;
        .formItemName {
          margin-bottom: 5px;
          @include text14;
          font-weight: 500;
        }
        .formItemInput {
          padding: 5px 12px;
          border: 1px solid $color12;
          border-radius: 4px;
          @include text14;
        }
        .formMessage {
          position: absolute;
          top: 103%;
          @include text12;
          color: $color11;
          font-weight: 500;
        }
      }
      .btnSubmit {
        width: 100%;
        height: 40px;
        border-radius: 4px !important;
        margin-top: 10px;
      }
    }
  }
  .inforFormContentItem {
    &:first-child {
      position: relative;
      width: 100%;
      max-width: 500px;
      overflow: hidden;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 3;
      }
      &:hover {
        .infoFormBanner {
          transform: scale(1.1);
        }
      }
    }
    .infoFormBanner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all linear .25s;
    }
    &:last-child {
      flex: 1;
      padding: 20px;
    }
    .inforFormTitleWrap {
      display: flex;
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;
      h4 {
        @include text14;
        position: relative;
        color: $color16;
        font-weight: 700;
        text-transform: uppercase;
        &::before {
          content: " ";
          display: block;
          position: absolute;
          width: 50%;
          height: 2px;
          top: 100%;
          background-color: $color16;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

/* Mobile & tablet: width <1024px */
@media only screen and (max-width: 1023px) {
  .inforFormWrapper {
    height: auto;
    padding-block: 30px;
    overflow-x: hidden;

    .inforFormContent {
      width: 100%;
    }
    .inforFormContentItem {
      &:first-child {
        width: 40%;
      }
      .infoFormBanner {
        width: 100%;
      }
    }
  }
}

/* Mobie: width < 740px */
@media only screen and (max-width: 739px) {
  .inforFormWrapper {
    .inforFormContent {
      flex-direction: column;
      .formInfo {
        .formItemWrap {
          flex-direction: column;
        }
      }
      .inforFormTitle {
        @include text24;
      }
    }
    .inforFormContentItem {
      &:first-child {
        width: 100%;
      }
      .infoFormBanner {
        height: 130px;
      }
    }
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

@media only screen and (width: 768px) {
  .wrapMain {
    height: calc(100vh - 60px - 90px);
  }
}

/* PC Low */
@media (min-width: 1024px) and (max-width: 1239px) {
}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) {
  .inforFormWrapper {
    padding-inline: 0;
  }
}
