.footer {
    height: 40px;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $color3;
    display: flex;
    align-items: center;
  .wrapperFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    span {
      @include text14;
      color: $color1;
      font-weight: 500;
    }
    .footerLinkWrap {
      span {
        margin-right: 12px;
      }
      a {
        color: $color1;
      }
    }
  }
}

/* Mobile & tablet: width <1024px */
@media only screen and (max-width: 1023px) {
  .footer{
    height: auto;
    position: static;
    .wrapperFooter{
      flex-direction: column;
      padding: 20px;
      span{
        text-align: center;
        margin-bottom: 10px;
        @include text12;
      }
    }
  }
}

/* Mobie: width < 740px */
@media only screen and (max-width: 739px) {
  .wrapperFooter {
    span,
    a {
      @include text12;
    }
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .wrapperFooter {
    span,
    a {
      @include text14;
    }
  }
}

/* PC Low */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wrapperFooter {
    span, a {
      font-size: 11px !important;
    }
  }
}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) {
}
