// footer
.footer
    .wrapperFooter.container-fluid.container-wrap
        span © Bản quyền thuộc Trung Tâm Bảo Tồn Di Tích tỉnh Khánh Hòa
        .footerLinkWrap
            span Website:
            a(href="javascript:void(0);") http://ditichkhanhhoa.org.vn
+render_link_js(data_page)