// header
header.header.container-fluid 
    .headerLogo 
        img.headerLogoImg(src="images/logo/logo.png", alt="")
        .headerLogoNameWrapper 
            h2.titleSub ỦY BAN NHÂN DÂN TỈNH KHÁNH HÒA
            h1.titleMain PHẦN MỀM THI TRẮC NGHIỆM BẢO TỒN DI TÍCH KHÁNH HÒA
// end header